<header class="sticky top-0 shadow w-full z-50 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>LOGO</div>
    <nav>
      <ul class="flex">
        <li class="px-3 py-2">
          <a routerLink="/self-consumption">self consumption</a>
        </li>
        <li class="px-3 py-2">
          <a routerLink="/calculator">calculator</a>
        </li>
        <li class="px-3 py-2">
          <a routerLink="/car-charger">car charger</a>
        </li>
        <li class="px-3 py-2">
          <a routerLink="/contact">contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
